:root {
  font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.input-container {
  background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 25px;
  margin: 1px auto;
  max-width: 500px;
  border-radius: 5px;
}

div.input {
  width: 200px;
}

.input-container label {
  font-size: 15px;
}

.input-container input {
  padding-left: 10px;
  font-size: 16px;
  height: 40px;
  /* width: 220px; */
  width: 100%;
  border: none;
  border-radius: 8px;
}

th {
  padding: 20px;
}

td {
  text-align: center;
}
